.usersPhoto {
  width: 100px;
  height: 100px;
}

.users {
  display: grid;
  grid-row-gap: 10px;
  margin-top: 10px;
  padding: 10px;
}
.user {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
}
